.content {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.wrapper {
  margin-left: calc((100vw - 1100px) / 2);
  width: 1100px;
}

.recordWrap {
  width: 100%;
  height: calc(100vh - 74px);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recordWrap::-webkit-scrollbar {
  width: 0;
  height: 0;
}
