.wrapper {
  width: 100%;
  padding: 10px;
}

.content {
  width: 100%;
  border-radius: 4px;
  background-color: #13131366;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 18px 6px 10px;
}

.image {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: none;
}

.button {
  cursor: pointer;
  color: #f3f3f3;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f3f3f300;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button svg {
  width: 20px;
  height: 20px;
}

.button:hover {
  background-color: #f3f3f333;
}

.button:active {
  background-color: #f3f3f366;
}

.audioInfoWrap {
  width: 700px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 12px;
  color: white;
}

.duration {
  font-size: 12px;
  color: white;
}

.timeLineWrap {
  cursor: pointer;
  background-color: #f3f3f333;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.timeLineValue {
  border-radius: 2px;
  width: 0%;
  height: 100%;
  background-color: #f3f3f366;
}

.titleWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.volumeWrap {
  cursor: pointer;
  background-color: #f3f3f333;
  height: 4px;
  width: 80px;
  border-radius: 2px;
  margin: 0 10px;
}

.volumeValue {
  border-radius: 2px;
  width: 0%;
  height: 100%;
  background-color: #f3f3f366;
}

.volume {
  text-align: right;
  width: 30px;
  font-size: 12px;
  color: white;
}
