body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/sky.png);
  background-size: calc(100vw + 20px) calc(100vh + 20px);
  background-position: -10px -10px;
}

.cloud-1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/cloud-1.png);
  animation: cloud-1-moving 8s linear infinite;
}

@keyframes cloud-1-moving {
  0% {
    background-position: 50% 90%;
  }
  100% {
    background-position: 100% 90%;
  }
}

.cloud-2 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/cloud-2.png);
  animation: cloud-2-moving 8s linear infinite;
}

@keyframes cloud-2-moving {
  0% {
    background-position: 80% -20%;
  }
  100% {
    background-position: 110% -20%;
  }
}

.cloud-3 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: 35% 35%;
  background-repeat: no-repeat;
  background-image: url(../img/cloud-3.png);
  animation: cloud-3-moving 8s linear infinite;
}

@keyframes cloud-3-moving {
  0% {
    background-position: -20% 10%;
  }
  100% {
    background-position: 25% 10%;
  }
}

.front-clouds {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: 140% 140%;
  background-repeat: no-repeat;
  background-image: url(../img/front-clouds.png);
  animation: front-clouds-moving 8s linear infinite;
}

@keyframes front-clouds-moving {
  0% {
    background-position: 100% 60px;
  }
  100% {
    background-position: 0% 60px;
  }
}

.light-1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(../img/light.png);
  animation: light-1-strike 8s linear infinite;
}

@keyframes light-1-strike {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0;
  }
  58% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  64% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.light-effect {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  animation: light-effect-strike 8s linear infinite;
}

@keyframes light-effect-strike {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 1;
  }
  58% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  64% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
