.wrap {
  padding: 10px;
  width: 100%;
}

.audioContent {
  width: 100%;
  border-radius: 4px;
  background-color: #13131366;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px 6px 6px;
  margin-bottom: 6px;
}

.audioContent:last-child {
  margin-bottom: 0;
}

.audioContent:hover {
  background-color: #131313aa;
}

.audioContent:active {
  background-color: #131313ff;
}

.audioInfoWrap {
  display: flex;
  align-items: center;
}

.number {
  text-align: center;
  width: 40px;
  color: #f3f3f3aa;
}

.image {
  margin-left: 6px;
  border-radius: 4px;
}

.name {
  font-size: 14px;
  margin-left: 20px;
  color: #f3f3f3aa;
}

.duration {
  font-size: 14px;
  color: #f3f3f366;
}
