.wrap {
  width: max(200px, calc((100vw - 1100px) / 2));
  padding-top: 10px;
  height: 100vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wrap::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.recordItemContent {
  width: 200px;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  background-color: #13131300;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}

.recordItemContent:hover {
  background-color: #131313aa;
}

.recordItemContent:active {
  background-color: #131313ff;
}

.image {
  border-radius: 4px;
}

.name {
  width: 100%;
  text-align: center;
  margin-top: 6px;
  font-size: 16px;
  color: white;
}

.date {
  width: 100%;
  text-align: center;
  margin-top: 2px;
  font-size: 12px;
  color: #f3f3f366;
}
